html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
  background-color: #eef0f8;
}
/* 设置主题区域大小及居中 */
.el-main {
  /* width: 69vw; */
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  box-sizing: border-box;
}
/* 设置card和table之间的距离 */
.el-table {
  margin-top: 20px;
}
/* 设置card内边距 */
.el-card{
  padding: 15px 20px;
}
/* 设置分页居中 */
.el-pagination{
 text-align: center;
 margin-top:20px
}
/* 操作按钮样式 */
.rightBtns {
  border: none;
  background-color: transparent;
  font-size: 14px;
}
.el-button+.el-button {
  margin-left: 0px
}
/* 表单间距 */
.el-row{
  margin-top: 15px;
}
/* card标题图标间距 */
i {
  padding-left: 8px;
}
/* icon和输入框的距离设置 */
.el-icon-search:before {
  margin-right: 50px;
}
.el-icon-user-solid:before{
  margin-right: 50px;
}
.el-icon-lock:before {
  margin-right: 50px;
}